Repository vnz/cc-plugins-vnz: changes, and which pre-commit hooks are due for each by the changed paths.
All: json-validate, script-permissions

json-validate:
  name: Validate JSON files
  entry: bash -c 'for f in "$@"; do jq empty "$f" || exit 1; done' _
  language: system

script-permissions:
  name: Check script permissions
  entry: bash -c 'for f in "$@"; do test -x "$f" || exit 1; done' _
  language: system

fix(date-context): improve portability, robustness, and output
  .claude-plugin/marketplace.json
  plugins/date-context/.claude-plugin/plugin.json
  plugins/date-context/hooks-handlers/session-start.sh
Due: json-validate, script-permissions

chore: add MIT license
  LICENSE
  plugins/date-context/.claude-plugin/plugin.json
Due: json-validate

chore: add justfile for common development tasks
  README.md
  justfile
Due: none

chore: bump shellcheck and shfmt versions
  .pre-commit-config.yaml
Due: none

refactor: organize hooks into consistent groups
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  justfile
Due: none

refactor: improve hook naming and add justfmt
  .pre-commit-config.yaml
  justfile
Due: none

chore: prepare for GitHub publication
  .gitignore
  README.md
Due: none

feat: add terraform-ls plugin
  .claude-plugin/marketplace.json
  plugins/terraform-ls/.claude-plugin/plugin.json
  plugins/terraform-ls/.lsp.json
  plugins/terraform-ls/README.md
  plugins/terraform-ls/skills/tf-explain.md
Due: json-validate

docs: improve README clarity per review feedback
  plugins/terraform-ls/README.md
Due: none

fix: final review nits
  .gitignore
  README.md
Due: none

feat: add terraform-ls plugin (#1)
  .claude-plugin/marketplace.json
  .gitignore
  README.md
  plugins/date-context/README.md
  plugins/terraform-ls/.claude-plugin/plugin.json
  plugins/terraform-ls/.lsp.json
  plugins/terraform-ls/README.md
  plugins/terraform-ls/skills/tf-explain.md
Due: json-validate

feat: add eclint plugin for EditorConfig enforcement
  .claude-plugin/marketplace.json
  plugins/eclint/.claude-plugin/plugin.json
  plugins/eclint/README.md
  plugins/eclint/scripts/fix.sh
Due: json-validate, script-permissions

fix: use prettier --file-info for dynamic file type detection
  plugins/prettier/README.md
  plugins/prettier/scripts/format.sh
Due: script-permissions

feat: add editorconfig plugin for whitespace enforcement
  .claude-plugin/marketplace.json
  .gitignore
  plugins/editorconfig/.claude-plugin/plugin.json
  plugins/editorconfig/README.md
  plugins/editorconfig/scripts/fix.sh
Due: json-validate, script-permissions

fix: address code review feedback on dependabot plugin
  plugins/dependabot/README.md
  plugins/dependabot/skills/dependabot.md
Due: none

feat: add dependabot plugin for dependency updates (#5)
  .claude-plugin/marketplace.json
  plugins/dependabot/.claude-plugin/plugin.json
  plugins/dependabot/README.md
  plugins/dependabot/skills/dependabot.md
Due: json-validate

chore(deps): bump GitHub Actions dependencies
  .github/workflows/ci.yml
Due: none

fix(dependabot): correct CLI behavior docs and improve skill instructions
  .claude-plugin/marketplace.json
  plugins/dependabot/.claude-plugin/plugin.json
  plugins/dependabot/README.md
  plugins/dependabot/skills/dependabot.md
Due: json-validate

chore(deps): bump github actions dependencies
  .github/workflows/ci.yml
Due: none

docs(dependabot): improve skill clarity based on real-world usage v1.2.0
  .claude-plugin/marketplace.json
  plugins/dependabot/.claude-plugin/plugin.json
  plugins/dependabot/skills/dependabot.md
Due: json-validate

docs: add dependabot to README and document skill structure in CLAUDE.md
  CLAUDE.md
  README.md
Due: none

docs(dependabot): remove redundant CLI behavior explanations
  plugins/dependabot/skills/dependabot/SKILL.md
Due: none

docs(dependabot): restore Important Notes section
  plugins/dependabot/skills/dependabot/SKILL.md
Due: none

feat(dependabot): use jq for robust JSON parsing v1.5.0 (#12)
  .claude-plugin/marketplace.json
  plugins/dependabot/.claude-plugin/plugin.json
  plugins/dependabot/skills/dependabot/SKILL.md
Due: json-validate

Path conditions:
  json-validate: any of: \.json$
  script-permissions: any of: \.sh$
